body {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  background-color: lightgrey;
}

.encabezado{
  background-color: rgb(201, 201, 201);
  position: absolute;
  z-index: 1;
  height: 100px;
  width: 98%;
  margin-top: 1%;
  margin-bottom: 100px;
  margin-left: 1%;
  border-radius: 10px;
  border: 2px solid black;
}

.imagenYo img{
  position: absolute;
  z-index: 2;
  right: 2.5%;
  top: 2%;
  height: 150px;
  border: 8px solid lightgrey;
}

h1{
  padding: 1em;
}

#root{
  position: absolute;
  width: 100%;
  margin-top: 200px;
  display: grid;
  align-content: center;
}

.subtitulos{
  position: relative;
  background-color:  rgb(201, 201, 201);
  width: 95%;
  color: black;
  border-radius: 10px;
  border: 2px solid black;
  margin: 0.5em;
}

.App{
  display: flex;
  flex-direction: row;
}

.container{
  flex-direction: column;
  display: flex;
  width: 70%;
  gap: 1rem;
  align-items: flex-start;
  padding-left: 2em;
}

.imagenContainerContent{
  flex-direction: column;
  align-self: flex-end;
  background-color: lawngreen;
  min-width: 25%;
  min-height: 100px;
  margin-bottom: 100px;
  margin-right: 20px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.content{
  text-align: left;

}

.content:nth-child(1){
  order: 1;
  font-style: italic;
  font-size: 0.8em;
}

.content:nth-child(2){
  order: 2;
  font-style: normal;

}

.content:nth-child(3){
  order: 3;
}

.exp{
  flex-direction: row-reverse;
  display: flex;
  gap: 1rem;
}

.exp-content:nth-child(2){
  order: 2;
}

.exp-content:nth-child(3){
  order: 3;
}